*{
    box-sizing: border-box;
}

ion-icon{
    transition: .2s all linear;
}

strong{
    font-weight: bold;
}

body{
    min-height: 100vh;
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85px;
    position: fixed;
    top: 0;
    background-color: white;
    font-size: 48px;
    padding: 16px 24px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

header ion-icon{
    cursor: pointer;
}

ul.messages-container{
    width: 100%;
    height: calc(100vh - 85px - 80px);
    position: relative;
    top: 85px;
    padding-top: 35px;
    padding-bottom: 10px;
    overflow-y: scroll;
    /* scroll-behavior: smooth; */
}

ul.messages-container li {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 8px;
    margin-bottom: 4px;
    font-size: 14px;
    background-color: white;
}

ul.messages-container li > span{
    word-break: break-all;
    line-height: 1.25em;
}

.messages-container .time{
    color: #aaa;
}

.messages-container .status{
    background-color: #dcdcdc;
}

.messages-container .private_message{
    background-color: #FFDEDE;
}

form{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 28px 16px 0;
    margin-bottom: 1.5em;
    background-color: white;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

form textarea, form textarea::placeholder{
    font-style: italic;
    font-size: 18px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

form textarea{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    border: transparent;
    resize: none;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

form textarea:focus{
    outline: transparent;
}

form .message-recipient {
    position: absolute;
    bottom: -1.25em;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    pointer-events: none;
}

form ion-icon{
    font-size: 32px;
    cursor: pointer;
}

form ion-icon:hover, header ion-icon:hover, aside ul li:hover *{
    filter: opacity(.7);
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    opacity: 1;
    transition: all linear .2s;
}

.overlay.hidden{
    opacity: 0;
    display: none;
}

aside{
    display: flex;
    flex-direction: column;
    max-width: 260px;
    padding: 24px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 3;
    transform: translateX(0);
    transition: all linear .3s;
}

aside.hidden{
    opacity: 0;
    display: none;
    transform: translateX(100%);
}

aside div, aside ul{
    margin-bottom: 2em;
}

aside div {
    font-weight: bold;
    text-align: center;
    line-height: 1.2em;
}

aside ul.participants{
    max-height: 50vh;
    overflow-y: auto;
}

aside ul li{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

aside ul li.selected ion-icon:last-child{
    display: initial;
}

aside ion-icon{
    font-size: 24px;
    margin-right: 8px;
}

aside ion-icon:last-child{
    --ionicon-stroke-width: 5em;
    display: none;
    margin-left: auto;
    color: #28BB25;
    font-size: 1em;
}