*{
    box-sizing: border-box;
}

ion-icon{
    transition: .2s all linear;
}

strong{
    font-weight: bold;
}

body{
    min-height: 100vh;
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85px;
    position: fixed;
    top: 0;
    background-color: white;
    font-size: 48px;
    padding: 16px 24px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

ul.messages-container{
    width: 100%;
    height: calc(100vh - 85px - 80px);
    position: relative;
    top: 85px;
    padding-top: 35px;
    padding-bottom: 10px;
    overflow-y: scroll;
    /* scroll-behavior: smooth; */
}

ul.messages-container li {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 8px;
    margin-bottom: 4px;
    font-size: 14px;
    background-color: white;
}

ul.messages-container li > span{
    word-break: break-all;
    line-height: 1.25em;
}

.messages-container .time{
    color: #aaa;
}

.messages-container .status{
    background-color: #dcdcdc;
}

.messages-container .private_message{
    background-color: #FFDEDE;
}

form{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 16px;
    background-color: white;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

form textarea, form textarea::placeholder{
    font-style: italic;
    font-size: 16px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

form textarea{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 28px 0;
    border: transparent;
    resize: none;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

form textarea:focus{
    outline: transparent;
}

form ion-icon{
    font-size: 26px;
    cursor: pointer;
}

form ion-icon:hover{
    filter: opacity(.8);
}