*{
    box-sizing: border-box;
}

ion-icon{
    transition: .2s all linear;
}

strong{
    font-weight: bold;
}

aside.hidden,
.overlay.hidden,
.login-screen .login.hidden,
.login-screen .loading.hidden
{
    display: none;
}

body{
    min-height: 100vh;
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

.login-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 5;
}

.login-screen img{
    width: 130px;
}

.login-screen > img{
    margin: 15vh 0;
}


.login-screen .login, .login-screen .loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
}

.login-screen * > *{
    margin-bottom: 1.5rem;
    font-size: 18px;
}

.login-screen .login input{
    width: 100%;
    padding: 16px 8px;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    text-align: center;
}

.login-screen .login button{
    border: transparent;
    border-radius: 5px;
    background-color: #e7e7e7;
    color: #696969;
    padding: .8em 1.5em;
    outline: transparent;
    cursor: pointer;
}

.login-screen .loading img{
    width: 100px;
    margin-bottom: 2rem;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85px;
    position: fixed;
    top: 0;
    background-color: white;
    font-size: 48px;
    padding: 16px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

header ion-icon{
    cursor: pointer;
}

ul.messages-container{
    width: 100%;
    height: calc(100vh - 85px - 105px);
    position: relative;
    top: 85px;
    padding-top: 35px;
    padding-bottom: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

ul.messages-container li {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 8px;
    margin-bottom: 4px;
    font-size: 14px;
    background-color: white;
}

ul.messages-container li > span{
    word-break: break-all;
    line-height: 1.25em;
}

.messages-container .time{
    color: #aaa;
}

.messages-container .status{
    background-color: #dcdcdc;
}

.messages-container .private_message{
    background-color: #FFDEDE;
}

form{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 28px 16px 0;
    margin-bottom: 1.5em;
    background-color: white;
    position: fixed;
    bottom: 0;
    z-index: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

form textarea, form textarea::placeholder{
    font-size: 18px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

form textarea::placeholder{
    font-style: italic;
    padding: 20px;
}

form textarea{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    border: transparent;
    resize: none;
}

form textarea:focus{
    outline: transparent;
}

form .message-recipient {
    position: absolute;
    bottom: -1.25em;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    pointer-events: none;
}

form ion-icon{
    font-size: 32px;
    cursor: pointer;
}

form ion-icon:hover, 
header ion-icon:hover, 
aside ul li:hover *, 
.login-screen .login button:hover{
    filter: opacity(.7);
    transition: .2s linear all;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    opacity: 1;
    transition: all linear .2s;
}

aside{
    display: flex;
    flex-direction: column;
    max-width: 260px;
    padding: 24px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 3;
    transform: translateX(0);
    transition: all linear .3s;
}


aside div, aside ul{
    margin-bottom: 2em;
}

aside div {
    font-weight: bold;
    text-align: center;
    line-height: 1.2em;
}

aside ul.participants{
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

aside ul li{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

aside ul li.selected ion-icon:last-child{
    display: initial;
}

aside ion-icon{
    font-size: 24px;
    margin-right: 8px;
    flex-shrink: 0;
}

aside ion-icon:last-child{
    --ionicon-stroke-width: 5em;
    display: none;
    margin-left: auto;
    color: #28BB25;
    font-size: 1em;
}


@media (max-width: 300px){
    aside{
        max-width: 80%;
    }
}